# Obtén el token de @BotFather en Telegram
TELEGRAM_BOT_TOKEN=8698192181:AAFdLLD9qdYnO0VuYH4pxy4zh79OT3k0TDE

# Tu ID de usuario (obtén con https://t.me/userinfobot)
TELEGRAM_CHAT_ID=775842719

# URL base (será tu dominio de Vercel)
WEBHOOK_URL=https://tu-proyecto.vercel.app/api/webhook
